.container2{
    text-align: center;
    background: #FAFAFA;
    padding-bottom: 5%;
}
.container2 .content{
    padding-top: 8%;
    margin-left: 30%;
    margin-right: 30%;
}
.container2 .content h2{
    color: #252B42;
    font-weight: 800;
    font-size: 40px;
    line-height: 57px;
}
.container2 .content p{
    color: #737373;
    letter-spacing: 0.2px;
    font-weight: 500;
    font-size: 18px;
    margin-top: 2%;
    margin-bottom: 8%;
}
.cards .row{
    margin-left: 9%;
    margin-right: 9%;
}
.cards .row .col{
    background: #ffff;
    margin-left: 2%;
    margin-right: 2%;
    border: 1px solid rgb(245, 245, 245);
    transition: all .5s ease;
}
.cards .row .col:hover{
    transform: translateY(-0.4rem);
    transition: transform 200ms;
    background-color: #97e8f8;
    
}
.cards .row .col .title{
    text-align: left;
    padding-top: 9%;
    padding-right: 30%;
}
.cards .row h5{
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}
.cards .row p{
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}
/* .cards .row img{
    width: 100%;
    padding-top: 6%;
} */
