.contact-info{
    background-color: #fafafa;
    /* padding: 2.5% 10%; */
    padding: 4rem 16rem;
    color: #000;
}

.contact-info .contact-text{
    /* float: left; */
    /* margin-right: 40%; */
    
}
label{
    color: #000;
    font-size: 1.4rem;
}
.contact-info .contact-text h3{
    font-weight: 700;
    line-height: 3.2rem;
    color: #252B42;
    margin-bottom: 2%;
    font-size: 2.4rem;
}

.contact-info .contact-text p{
    font-weight: 500;
    color: #737373;
    line-height: 20px;
    padding-bottom: 5%;
    font-size: 1.4rem;
}

.contact-info .form .button2{
    color: #fff;
    font-weight: 700;
    width: 15rem;
    height: 5rem;
    background-color: #FFA62B;
    border: 1px solid #FFA62B;
    transition: all .5s ease;
    position: relative;
    left:13%;
    margin-top: 2%;
    font-size: 1.4rem;
}
.form .input-box input{
    width: 40%;
    padding: 0.5% 0.3%;
    border-radius: 5px;
    border:1px solid rgb(207, 207, 207);
    outline:#fd6017;
    margin-bottom: 1%;
    font-size: 1.4rem;
}
.form .input-box textarea{
    width: 40%;
    font-size: 1.4rem;
    border-radius: 5px;
    padding: 0.5% 0.3%;
    border:1px solid rgb(209, 209, 209);
    outline:#fd6017;
}
.form .input-box input:focus {
    border:1px solid #FFA62B;
    box-shadow: 0px 4px 2px #ece6dd;

  }
  .form .input-box textarea:focus {
    border:1px solid #FFA62B;
    box-shadow: 0px 4px 2px #ece6dd;
    
  }
.contact-info .button2:hover{
    background: #fd6017;
}

.contact{
    background-color: #16697A;
    padding: 2.5% 10%;
    color: #fff;
}

.contact h5{
    /* font-size: 16px; */
    font-weight: 700;
    line-height: 2.4rem;
    margin-bottom: 10%;
    color: #fff;
}

.contact a{
    text-decoration: none;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 4rem;
    
}

.contact a:hover{
    color: #FFA62B;
}

.contact a span{
    margin-right: 5%;
   
}



.copyright{
    background-color: #fafafa;
    padding: 2% 10%;
}

.copyright .text{
    float: left;
    margin-right: 54%;
    color: #737373;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 2.4rem;
}
.copyright img{
    margin: 0 1rem;
}

@media only screen and (max-width:998px){
    .contact-info .form .button2{
        margin-left: 14rem;
        margin-top: 3rem;
    }
    .contact h5{
        margin-top: 6rem;
    }
}

@media only screen and (max-width:450px){
    .contact-info{
        
        padding: 4rem 5rem;
        color: #000;
    }
    .contact-info .form .button2{
        
        position: relative;
        left:-2rem;
        margin-top: 10%;
        font-size: 1.4rem;
    }
    .contact{
        
        padding: 2.5% 2%;
        color: #fff;
    }
    .contact h5{
        /* font-size: 16px; */
        
        margin-bottom: 2%;
    }
    
    .contact a{
        text-decoration: none;
        color: #fff;
        font-size: 1.4rem;
        font-weight: 600;
        line-height: 4rem;
        display: inline-block;
        width: 100%;
        
    }
    .contact a span{
        margin-right: 0;
        
       
    }
    .contact .col{
        padding-left: 3rem;
        padding-right: 3rem;
        padding-bottom: 0;
    }
}