@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
.header{
    background-image: url('./images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.header .logo{
    font-weight: bold;
    font-size: 1.5rem;
    color: #252B42 !important;
    margin-right:10%;
}
.header .navbar{
    padding-top: 3%;
    margin-left: 7%;
}
.header .navbar .Navlink{
    font-weight: 600;
    color: #737373 !important;
    margin: 0 10px;
}
.header .navbar .Navlink:hover{
    color: #FFA62B !important;
}

.info{
    margin-left: 14.5%;
    margin-top: 4%;
}
.info h1{
    font-weight: bolder;
    font-size: 58px;
    color: #252B42;
    margin-bottom: 2.5%;
    margin-right:60%;
}
.info p{
    padding-bottom: 3%;
}
.info .firstbutton{
    background: #FFA62B;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding:15px 25px;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 10px;
    margin-bottom: 10%;
    transition: all .5s ease;
}
.info .firstbutton:hover{
    background: #fd6017;
}
.info .secondbutton{
    background: none;
    color: #00A0C1;
    border: 1px solid #00A0C1;
    border-radius: 50px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding:15px 25px;
    margin-left: 10px;
    margin-bottom: 10%;
    transition: all .5s ease;
}
.info .secondbutton:hover{
    background: #00A0C1;
    color: #ffffff;
    border: 1px solid #ffffff;
    /* border: 1px solid #00A0C1; */
}

.card1{
    text-align: center;
    padding: 5% 6%;
}
.card1 .textcard .cardbox{
    background-color: #fff;
    text-align: left;
    margin:2%;
    width: 80%;
    padding: 3% 4%;
    position: relative;
    top: 10%;
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

}
.card1 .textcard .cardbox:hover{
    box-shadow:none;
    transform: translateY(0.1rem);
    transition: transform 200ms;
}
.card1 .textcard .cardbox img{
    padding-bottom: 5%;
}
.card1 .textcard .cardbox h3{
    color: #252B42;
    font-weight: bold;
    font-size: 24px;
}
.card1 .textcard .cardbox p{
    color: #737373;
    font-weight: 500;
}
.card1 .textcard .textcol-3{
    background-color: #00A0C1;
}
.card1 .textcard .textcol-3 h3{
    color: #fff;
}
.card1 .textcard .textcol-3 p{
    color: #fff;
}
