@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
}
.header{
    background-image: url('./images/background.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}
.header .logo{
    font-weight: bold;
    font-size: 3rem;
    color: #252B42 !important;
    margin-right:17rem;
}
.header .navbar{
    padding-top: 3.5rem;
    margin-left: 11rem;
}
.header .navbar .Navlink{
    font-weight: 600;
    color: #737373 !important;
    margin: 0 1rem;
    font-size: 1.5rem;
}
.header .navbar .Navlink:hover{
    color: #FFA62B !important;
}

.info{
    margin-left: 22rem;
    margin-top: 9rem;
    width: 34%;
}
.info h1{
    font-weight: bolder;
    font-size: 6rem;
    color: #252B42;
    margin-bottom: 4rem;
    
}
.info p{
    padding-bottom: 3rem;
    font-size: 2.5rem;
    color: #737373
}
.info .firstbutton{
    background: #FFA62B;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 1.5rem 2.5rem;
    border-radius: 50px;
    text-decoration: none;
    margin-right: 1rem;
    margin-bottom: 5rem;
    transition: all .5s ease;
}
.info .firstbutton:hover{
    background: #fd6017;
}
.info .secondbutton{
    background: none;
    color: #00A0C1;
    border: 1px solid #00A0C1;
    border-radius: 50px;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: bold;
    padding:1.5rem 2.5rem;
    margin-left: 1rem;
    margin-bottom: 5rem;
    transition: all .5s ease;
}
.info .secondbutton:hover{
    background: #00A0C1;
    color: #ffffff;
    border: 1px solid #ffffff;
    /* border: 1px solid #00A0C1; */
}

.card1{
    text-align: center;
    padding: 6rem 21rem;
}
.card1 .textcard .cardbox{
    background-color: #fff;
    text-align: left;
    margin:1rem;
    width: 80%;
    padding: 2rem 3rem;
    /* position: relative;
    top: 10%; */
    box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);

}
.card1 .textcard .cardbox:hover{
    box-shadow:none;
    transform: translateY(0.1rem);
    transition: transform 200ms;
}
.card1 .textcard .cardbox img{
    padding-bottom: 2rem;
}
.card1 .textcard .cardbox h3{
    color: #252B42;
    font-weight: bold;
    font-size: 2rem;
}
.card1 .textcard .cardbox p{
    color: #737373;
    font-weight: 500;
    font-size: 1.5rem;
}
.card1 .textcard .textcol-3{
    background-color: #00A0C1;
}
.card1 .textcard .textcol-3 h3{
    color: #fff;
}
.card1 .textcard .textcol-3 p{
    color: #fff;
}


@media only screen and (max-width:998px){
    *{
        font-size: 55%;
    }
    .info{
        margin-left: 15rem;
        margin-top: 9rem;
        width: 60%;
    }
    .header{
        /* background-image: url('./images/background123.png'); */
        /* background-size: cover; */
            background-size: cover;
            height: 90vh;
    }
    
}
@media only screen and (max-width:450px){
    *{
        font-size: 45%;
        /* width:100%; */
    }
    .header{
       
        height: 135vh;
        width: 100%;
    }
    .header .logo{
        font-size: 2.5rem;
        margin-right: 12rem;
    }
    .header .navbar{
        padding-top: 3.5rem;
        margin-left: 5rem;
    }
    .info{
        margin-left: 7rem;
        margin-top: 7rem;
        width: 80%;
    }
    .info h1{
        font-weight: bolder;
        font-size: 4rem;
        color: #252B42;
        margin-bottom: 3rem;
        
    }
    .info p{
        padding-bottom: 3rem;
        font-size: 2rem;
        color: #737373
    }
    .card1{
        text-align: center;
        padding: 6rem 10rem;
    }
}
